//! **************************************************************************
// Written by: Map P.20131013 on Wed Feb 21 16:31:00 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "signal" LOCATE = SITE "N3" LEVEL 1;
COMP "outedge" LOCATE = SITE "M5" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

